<div class="flex">
    <button (click)="addLivre()">Ajouter livre </button>
</div>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Year of Publication</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.anneePublication }}</td>
        <td>
            <button (click)="editBook(book.id)">
                Edit Book
            </button>
        </td>
        <td>
            <button (click)="deleteBook(book.id)">
                Delete Book
            </button>
        </td>
      </tr>
    </tbody>
  </table>
  